<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/488c15c75f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
    <title th:text="${movie.title}"></title>
</head>
<body>
<header th:insert="~{fragments/header}"></header>

<main class="container mt-3" th:object="${movie}">
    <h1 class="movie-title" th:text="*{title}">Movie Name</h1>
    <span style="color: white">[(*{year})] - [(*{runTime})] mins</span>
    <div class="row  mt-3">
        <div class="col-sm-8 order-sm-1 order-2" style="color: white">
            Genres: <span class="text-primary" th:each="gen,iterStat : *{genres}"
                          th:text="${gen}+ ${!iterStat.last ? ', ' : ''}">Action, Crime, Drama</span>
            <hr>
            <span th:text="*{fullPlot}">Cartoonist Winsor McCay agrees to create a large set of drawings that will be photographed and made into a motion picture. The job requires plenty o</span>
            <hr>
            Director: <span class="text-primary" th:each="gen,iterStat : *{directors}"
                            th:text="${gen}+ ${!iterStat.last ? ', ' : ''}">James</span>
            <hr>
            Writers: <span class="text-primary" th:each="gen,iterStat : *{writers}"
                           th:text="${gen}+ ${!iterStat.last ? ', ' : ''}">David, Peter</span>
            <hr>
            Stars: <span class="text-primary" th:each="gen,iterStat : *{cast}"
                         th:text="${gen}+ ${!iterStat.last ? ', ' : ''}">Tom Hanks, Leonardo</span>
        </div>
        <div class="col-sm-4 order-sm-2 order-1">
            <img class="movie-poster" src="../images/poster.jpg" th:src="*{poster}">
        </div>
    </div>
</main>

<footer th:insert="~{fragments/footer}"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>